* {
  box-sizing: border-box;
}

/*Navigation*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  overflow: hidden;
  text-align: left;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

nav ul li {
  display: inline-block;
  padding: 18px 15px;
  font-size: 17px;
  transition: 0.3s ease;
}

nav ul .nav-hover:hover {
  color: #e67e22;
}

.nav-logo {
  font-weight: bold;
  color: #e67e22;
}

.nav-ul-scroll {
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo-scroll {
  background: #e67e22;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Responsive nav*/

.handle {
  width: 100%;
  background: none;
  text-align: left;
  padding: 12px 10px;
  cursor: pointer;
  display: none;
  height: 50px;
}

.handle.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.handle-menu {
  position: relative;
  margin-left: 10px;
  top: 3px;
  font-size: 30px;
  border-bottom: 1px solid white;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bars {
  float: left;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  bottom: 43px;
}

/*Nav Media Query*/

@media screen and (max-width: 945px) {
  nav ul {
    max-height: 0;
    background-color: rgba(255, 255, 255, 0.93);
    color: black;
    text-align: center;
  }

  .showing {
    max-height: 22em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
  }

  .nav-hover:hover,
  .nav-left:hover {
    background: #dcdcdc;
  }

  .nav-left {
    position: static;
  }

  .nav-right {
    position: static;
  }

  .nav-ul-scroll {
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-logo {
    font-weight: bold;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*-----Parallax scroll effect-----*/

html,
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.container section {
  width: 100%;
  height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.container section:nth-child(1) .image {
  background-image: url(http://cathedralofhope.org/wp-content/uploads/2015/07/baseball1.jpg);
}
.container section:nth-child(2) .image {
  background-image: url();
}
.container section:nth-child(3) .image {
  background-image: url(https://images.pexels.com/photos/539282/pexels-photo-539282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.container section:nth-child(4) .image {
  background-image: url();
}
.container section:nth-child(5) .image {
  background-image: url();
}
.container section:nth-child(6) .image {
  background-image: url();
}
.container section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  opacity: 0.4;
}
.container section .stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 75%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  color: #e67e22;
  margin: 0 auto;
  font-size: 24px;
  position: relative;
}
.container section .stuff h2 {
  margin: 0px;
}

/*---general styles----*/

.sub-title {
  font-size: 28px;
}

.mockup {
  padding-top: 120px;
}

.header {
  margin-top: 50px;
}

.sub-head {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

h2 a {
  color: black;
}

h2 a:hover {
  color: #e67e22;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

.icons {
  text-align: center;
}

.prizes {
  font-size: 80px;
  color: #e67e22;
  margin-top: -20px;
}

.hero-icons {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 7px;
  line-height: 38px;
  color: white;
  padding-top: 8px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.hero-icons:hover {
  color: black;
  border: 2px solid white;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.prize-content {
  font-size: 18px;
  padding: 30px;
  font-weight: bold;
  margin-top: -10px;
}

.register-form {
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  color: white;
}

fieldset {
  border: none;
  text-align: center;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

button {
  margin-top: 20px;
  background: none;
  border: 2px solid #e67e22;
  color: #e67e22;
  z-index: 99999999;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 50px;
  width: 180px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #e67e22;
  color: black;
  transition: all 0.8s;
}

.form-container {
  padding: 40px;
  font-size: 20px;
}

.form-title {
  padding-bottom: 10px;
  color: #e67e22;
  font-size: 20px;
}

.playline-link {
  color: white;
}

.playline-link:hover {
  /*color: #7fff00;*/
  color: #e67e22;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

.message {
  font-size: 20px;
}

.logo2 {
  width: 250px;
  margin-bottom: -10px;
  margin-top: -20px;
}

.success,
.error {
  color: #e67e22;
}

.arrow-wrapper {
  cursor: pointer;
  padding-top: 25px;
  font-size: 50px;
  color: #7fff00;
  -moz-animation: pulse 1.3s infinite;
  -webkit-animation: pulse 1.3s infinite;
  animation: bounce 3s infinite;
  text-align: center;
}

.new-arrow {
  color: black;
  cursor: pointer;
  padding-bottom: 25px;
  font-size: 50px;
  -moz-animation: pulse 1.3s infinite;
  -webkit-animation: pulse 1.3s infinite;
  animation: bounce 3s infinite;
  text-align: center;
}

.up-arrow {
  color: white;
  cursor: pointer;
  font-size: 50px;
  -moz-animation: pulse 1.3s infinite;
  -webkit-animation: pulse 1.3s infinite;
  animation: bounce 3s infinite;
  text-align: center;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(5px);
  }
}

/*--Media Queries--*/

@media screen and (max-width: 460px) {
  .header {
    font-size: 35px;
    line-height: 1.3em;
    margin-top: -10px;
  }

  .logo {
    height: 100px;
    width: 200px;
  }

  .sub-title {
    font-size: 25px;
  }

  .sub-head {
    margin-top: -20px;
  }

  .prizes {
    font-size: 60px;
  }

  .mockup {
    padding-top: 20px;
  }

  .prize-content {
    font-size: 16px;
    margin-bottom: -10px;
  }

  .form-title {
    font-size: 20px;
    line-height: 1.5em;
    padding-bottom: 20px;
  }

  .form-container {
    font-size: 18px;
  }

  fieldset {
    font-size: 15px;
  }

  button {
    height: 40px;
    width: 120px;
  }

  .message {
    font-size: 12px;
    line-height: 1.5em;
  }

  .success,
  .error {
    font-size: 15px;
  }

  .logo2 {
    width: 200px;
  }
}
